/*Cart style sheet*/

/*http://bootsnipp.com/snippets/featured/shopping-cart-bs-3*/


/*cart product lists*/



/*cart title*/

/*.cart_h {
	text-align: center;
	padding-top: 2rem;
}
*/
/*section h3.cart-sutitle {
	padding-left: 2rem;


	display: inline-block;
	float: left;
	clear: left;


	
}*/


.line {
	border-bottom: 0.08em solid #333;
    display: inline-block;
    width: 100%;
}



/*cart content*/
.cart-img {
	width: 100%;
	height: auto;
	margin: 0;
	display: block;
/*	padding:1rem 1rem 1rem 2rem;*/
}

.cart-product-info {
    padding: 3.5rem 0rem 0rem 0;
	text-align: left;

}

.cart-product-price{
	padding-top: 5.5rem;
	text-align: center;
}
/*
.text p {
	text-align: left;
}*/


.cart-qty {
	padding: 1rem;
	margin-top: 5.5rem;
	width: 39%;
	border-radius: 0.4rem
	font-size:1rem;
	text-align: center;
}

.checkout-qty {
	padding: 1rem;
	width: 39%;
	border-radius: 0.4rem
	font-size:1rem;
	text-align: center;
}

/*price summart*/
.cart-price p {
	margin-top: 1rem;
	padding: 0;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

.cart-price {
	margin-bottom: 7rem;
}

.checkout-price {
	margin: 0;
	padding-top: 1rem;
	font-weight: bold;
	text-align: center;
}

.checkout-total {
	padding: 0;
	margin-top: 1.5rem;
	margin-bottom: 5rem;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

/*buttons*/

.button1 {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}

.checkout-button .button1 {
	width: 95%;
	text-align: center;
	margin-top: 2rem;
}

/*checkout-section*/

.order-summary p, .order-summary h3 {
	text-align: center;
	margin-top: 3rem;
}

.cart-content .left {
	padding-right: 1.25rem;
}

.cart-content .right {
	padding-left: 1.25rem;
}

/*.checkout_section .cart-img {

	padding:0rem;
}*/

/*.checkout_section .carttitle1 {
    padding: 0rem 0rem 0rem 1rem;

}*/

/*.checkout_section .carttitle {
    padding: 0;

}*/

.checkout_section .cart-sutitle {
	padding-left: 0;
}

.checkout_section .qutform {
	margin:0rem 0rem 0rem 1rem;
}

.checkout_section .grid-col-cart-6of12 {
	padding-left: 0rem;
}

.carttitle2 {
	margin:2.5rem;
	text-align: left;
	border-bottom: 0.08em solid #333;

}

.conf-nam {
	text-align: left;
	font-size: 0.9em;
	margin: 0rem 2rem 2rem 3.5rem;
}

.confirm_section .line {

	border-bottom: 0.08em solid #fff;
   


}

.checkout_section #review-form {
	padding: 2rem;
}







/*grid*/
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-cart-'] {
	float: left;
	text-align: center; /* center the content in this block by default */
	width: 100%;  /* defining the default to be mobile first */
}

[class^='grid-col-cart-']::after {
	content: "";
	display: block;
	clear: both;
}

/*cart title*/
.grid-col-cart-8of12 {
	width: 70%;
}

.grid-col-checkout-8of12 {
	width: 60%;
}

.grid-col-cart-6of12 {
	width:55%;
	text-align: left;
}

.grid-col-checkout-6of12 {
	width: 50%;
}

.grid-col-cart-4of12{
	width: 30%;
}

.grid-col-checkout-4of12 {
	width: 40%;
}

.grid-col-cart-2of12 {
	width: 15%;
	display: inline-block;
	text-align: center;
}

.grid-col-cart-3of12 {
	width: 27.5%;	
}


.grid-col-checkout-2of12 {
	width: 20%;
}

/*.grid-col-cart-2of12-1{
	display: none;
}
*/

/*price summary*/

/*buttons*/






@media only screen and (max-width: 75rem) {

	section h3.cart-sutitle {
		margin-left: 2.5rem;
		}

	.confirm_section .line {

	border-bottom: 0.08em solid #333;
	



}
}


/*tablet*/
@media only screen and (max-width: 69rem) {


	/*cart title*/


.grid-col-cart-2of12 {
	display: none;

}

/*cart nav*/

.cart_section nav ul {
	visibility: visible;
}


/*cart content*/
.grid-col-cart-d-3of12 {
	width: 50%;

}

.cart-img {
	padding-left: 1rem;
	
}

.grid-col-cart-d-2of12 {
	width: 16%;
/*	padding-top: 1rem;
	padding-left: 0;
	padding-right: 1.8rem;*/

	
	
}


.grid-col-cart-d-2of12 h3 {
	padding-top: 5rem;
	text-align: center;
}



input.qutform {
	margin-left: 1rem;
	width: 100%;
	margin-top: 0;


}

/*price summary*/
.grid-col-checkout-2of12 {
	width: 20%;
}

.grid-col-checkout-8of12 {
	width: 80%;
}






}



/*moile*/
@media screen and (max-width: 40rem) {


/*cart content*/
.grid-col-cart-d-3of12 {
	width: 100%;
	
}

.cart-img {

	padding:0rem
}



.text {
	padding-left: 2.5rem;

}

.grid-col-cart-d-2of12 {
	width: 25%;

/*	padding-left: 2.5rem;
	padding-right: 0;*/
	
	
}

/*price summary*/
.grid-col-cart-s-2of12 {
	width: 50%;
	text-align: center;
}

.sumtitile {
	text-align: left;
}

.grid-col-cart-s-8of12 {
	width: 0%;
}

/*buttons*/
.grid-col-cart-b-8of12 {
	width: 0%;
}
.grid-col-cart-b-4of12{
	width: 100%;
	padding: 0rem 1rem 1rem 1rem;
}









}

/*table td[class*="grid-col-cart-"], table th[class*="grid-col-cart-"] {
    display: table-cell;
    float: none;
    text-align: left;
}

table td[class*="grid-col-cart-"], table th[class*="grid-col-cart-"]::after {
    content: "";
	display: block;
	clear: both;
}

.grid-col-cart-1of5 {
	width: 100%;
}
*/

/*
@media only screen and (max-width: 69rem) {


.grid-col-cart-1of5 {
	width:10%;
}

 .proimg {
	
	max-width: 100%;

	


}



}*/

/*.grid-col-price-1of12{
	width: 20%;

}

.grid-col-price-1of2 {
	width: 50%;
}
*/




/*http://spyrestudios.com/html5-css3-shopping-cart-layout/*/
/*section.cart_section table {
	margin: 3rem;
}


section.cart_section th{
	padding: 3rem;
	display: : inline-block;
	width: 100%;
	border-bottom: : 0.15em solid #333;
}


section.cart_section td{
	padding: 3rem;
	display: : inline-block;
	width: 100%;
}

section.cart_section thead{
	margin: 0;
	display: : inline-block;
	width: 100%;
}*/









