[class^='block-'] {
	/*background-color: #ccc;*/
}

/*citation: http://jonathannicol.com/blog/2011/10/18/responsive-elements-that-retain-their-aspect-ratio/*/

#home-image {
	max-height: 35rem;
	overflow: hidden;
}

section.popular-food-section {
	background-color: rgb(245, 245, 245);

}

.food-listing {
	background-color: #ccc;
	height: 16rem;
	overflow: hidden;	
}

.food-listing::after {
	content: "";
	clear: both;
}

.listing-block {
	background-color: #ffffff;
	width: 100%;
	height: 25rem;
	text-align: center;
	position: relative;

}

.product-name {
	background-color: #bbb;
	margin-top: 14.7rem;
	margin-left: 10%;
	width: 80%;
	position: absolute;
}

.product-name h2 {
	margin: 0.4rem 0;
}

.food-detail {
	margin-top: 2.5rem;
}

/* Review Form Styling */

#review-container {
	height: 35rem;
	overflow: scroll;

}

#review-form{
	text-align: left;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

#review-form .button {
	text-align: center;
	margin: 0;
}

#review-form input {
	width: 100%;
	height: 3rem;
	margin-top: 0.2rem;
}

#review-form textarea {
	width: 100%;
	height: 5rem;
	margin-top: 0.2rem;
}

#review-form p {
	padding-bottom: 0.5rem;
}

.review-block {
	border-bottom: solid 0.1rem #000;
	text-align: left;
	padding-bottom: 1rem;
	margin-right: 2.5rem;
}

/*citation: https://css-tricks.com/crop-top/*/

.block-food {
	width: 100%;
	height: 0;
	padding-bottom: 70%;
}

/* Story section on home page*/

.story_section {
	background-color: #EEEFF1;
}


.block-image {
	width: 100%;
	height: 0;
	padding-bottom: 68.52%;
}

.block-image img{
	width: 100%;

	padding:0;
	margin: 0;
	display: inline-block;

}

.block-p {
	padding-top: 2rem;
	padding-bottom: 2rem;
}



.block-p p {
	margin: 2rem;
    padding: 1rem;

}

    
.button1 {
	  text-decoration: none;
	  border-color: #231F20;
	  border-style: solid;
	  color:  #231F20;
	  border-width: 2px;

	  -webkit-transition: all 0.5s ease;
	  transition: all 0.5s ease;
	 
	  padding: 0.8em 5em 0.8em 5em ;
	  
	  border-radius: 0.3rem;
	  display: inline-block;
}

.button1:hover, .button1:focus {
  background-color: #ccc;
 
}

<<<<<<< Updated upstream
/* other sections*/
=======



/* service sections on home*/

section.service_section {
	background-color: #EAE2D0;

}

.block-service {
	width: 100%;
	height: 0;
	padding-bottom: 30%;
}

.block-service img{
	width: 25%;

		
}

section.service_section h3{
	color: #3F3F3F;
	letter-spacing: 0rem;
	margin: 1rem;
}

section.service_section h1{
	margin: 0;
	padding: 3rem;
}

section.service_section figure {
	margin: 2rem;
	
}

section.service_section p {

	font-size: 0.8em;
	width: 20em;
	display: inline-block;
	padding-bottom: 2rem;



	
}


/* menu-sections on home*/


section.menu_section {
	background-color: #EAE2D0;
}







/**/
/*section.popular_section {
	background-color: white;

}*/

/*About*/
section.cheif_section {
	background-color: #262626;
/*	margin: 0;
	padding: 0;*/
}

section.cheif_section p {
	color: white;

}

section.cheif_section h2 {
	color: #c69a50;

}

section.cheif_section .block-story {
	padding-bottom: 66.7%;

}

/*menu page styling*/
.toggle:not(#content1) {
	display: none;
}

.toggle {
	content: "";
	display: block;
	clear: both;
}

.menu-section .grid-col-1of2{
	text-align: left;
}

.menu-section .left {
	border-right: dotted 0.1rem #ccc;
	padding-left: 1.5rem;
}

.menu-section .right {
	padding-left: 3rem;
}

.dish-title h3, .dish-title p {
	margin: 0 0 0.5rem 0;
}

.dish-title span {
	padding-left: 1rem;
	font-size: 0.8rem;
}
.dish-title {
	margin-bottom: 2rem;
}

