[class^='block-'] {
	/*background-color: #ccc;*/
}

/*citation: http://jonathannicol.com/blog/2011/10/18/responsive-elements-that-retain-their-aspect-ratio/*/

.home-block h1 {
	line-height: 4rem;
	color: #fff;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.home-block p {
	color: #fff;
	font-size: 1.3rem;
	padding-bottom: 2rem;
	text-align: center;
}

.home-block .button1, #menu-nav .button1 {
	color: #fff;
	border-color: #fff;
}



@media screen and (max-width: 75rem) {

	.home-block h1 {
		font-size: 3rem;
	}
}



@media screen and (max-width: 35rem) {

	.home-block h1 {
		font-size: 2rem;
	}

	.home-block p {
		font-size: 1rem;
	}
}

#home-image-section {
	background-image: url('../img/dishes/food3.jpg');
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 35rem;
	display: flex;
    align-items: center; 

/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}

.multi-col-section {
	background-color: rgb(245, 245, 245);
}




/*listing page styling*/
#listing-title-section {
	background-image: url('../img/orderonline.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 25rem;
	display: flex;
    align-items: center; 

/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}

.listing-page {
	background-color: rgb(245, 245, 245);
}

.food-listing {
	background-color: #ccc;
	height: 16rem;
    overflow: hidden;	
}

.food-listing img {
    width: auto;
    height: 100%;
}

.food-listing::after {
	content: "";
	clear: both;
}

@media screen and (max-width: 75rem) {
	.food-listing img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 58rem) {
	.food-listing img {
   		width: auto;
    	height: 100%;
	}
}

@media screen and (max-width: 35rem) {
	.food-listing img {
		width: 100%;
		height: auto;
	}


}

.listing-block {
	background-color: #ffffff;
/*	width: 100%;
	height: 29.5rem;
	text-align: center;
	position: relative;*/

	/*citation: https://www.w3schools.com/css/css3_shadows.asp*/

	width: 100%;
    height: 29.5rem;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.listing-block .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 0;
	height: auto;
	background-color: #ffffff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.listing-block .listing-responsive {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.listing-block:hover .listing-responsive {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.listing-block .order-now {
  text-decoration: none;
    width: 100%	;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 0;
    background: rgb(213, 181, 123);
	float: left;
	margin: 0px;
	display: inline-block;
}

.listing-block .order-now {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}




.listing-block:hover .overlay,
.listing-block:hover .order-now {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.listing-block:hover .order-now {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}



/*.order-now {
	font-size: 1.5rem;
	white-space: nowrap; 
	color: white;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}*/

.product-name {
	background-color: #fff;
	margin-top: 14.7rem;
	margin-left: 10%;
	width: 80%;
	position: absolute;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 
	0 0px 0.1rem 0 rgba(0, 0, 0, 0.1);

	/*citation: https://www.w3schools.com/css/css3_shadows.asp*/
}

.product-name h2 {
	margin: 0.4rem 0;
}

.food-detail {
	margin-top: 1rem;
   padding: 1.5rem;
    font-size: 0.9em;
    
}

.food-detail .button1 {
	display: block;
	width: 100%;
}

/* Review Form Styling */

#review-container {
	height: 35rem;
	overflow: scroll;

}

.review-form{
	text-align: left;
}

.review-form .button {
	text-align: center;
	margin: 0;
}

.review-form input:not(.radio-option) {
	width: 100%;
	height: 3rem;
	margin-top: 0.2rem;
}

.review-form textarea {
	width: 100%;
	height: 5rem;
	margin-top: 0.2rem;
}

.review-form p {
	margin: 0;
	padding-top: 0.5rem;
}

.review-block {
	border-bottom: solid 0.1rem #000;
	text-align: left;
	padding-bottom: 1rem;
	margin-right: 2.5rem;
}

/*citation: https://css-tricks.com/crop-top/*/


/* Story section on home page*/

.half-col-section {
	background-color: #eee;
}

.half-col-img {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.half-col-img img {
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;

}

/*citation: http://stackoverflow.com/questions/14142378/css-filling-a-div-with-an-image-while-staying-in-proportion
*/
.block-content {
	text-align: left;
}

.block-content .button1 {
	margin-top: 2rem;
}

.block-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.block-content ul li {
	font-size: 0.75rem;
}

.block-content p {
	margin: 0;
}
    
.button1 {
	font-size: 0.75rem;
	letter-spacing: 0.05rem;
	text-decoration: none;
	border-color: #231F20;
	border-style: solid;
	color:  #231F20;
	border-width: 2px;

	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

	padding: 0.8em 5em 0.8em 5em ;

	border-radius: 0.3rem;
	display: inline-block;
}


.button1:hover, .button1:focus {
  background-color: #ccc;
 
}

<<<<<<< Updated upstream
/* other sections*/
=======



/* service sections on home*/

.service-block {
	width: 100%;
}

.service-block img{
	width: 28%;
}

.service-block p{
	font-size: 0.75rem;
	padding:0rem 2rem 2rem 2rem;
	text-align: left;
}

@media screen and (max-width: 75rem) {

	.service-block img{
	width: 15%;
	}



}

@media screen and (max-width: 35rem) {

	.service-block img{
	width: 30%;
	}



}


/*About*/
#about-title-section {
	background-image: url('../img/abou1.jpg');
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 25rem;
	display: flex;
    align-items: center; 

/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}

.whole-col-sec {
	padding: 5rem;
}



/*menu page styling*/
#menu-title-section {
	background-image: url('../img/dishes/food5.jpg');
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 25rem;
	display: flex;
    align-items: center; 

/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}


.toggle:not(#content1) {
	display: none;
}

.menu-section .grid-col-1of2 {
	text-align: left;
}

.menu-section .left {
	border-right: dotted 0.1rem #ccc;
	padding-right: 1rem;
}

.menu-section .right {
	padding-left: 2rem;
}

.dish-title span {
	font-size: 0.9rem;
}

.dish-info {
	margin-bottom: 1rem;
}

.dish-title {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	width: 85%;
}

.dish-title h2 {
	margin-bottom: 0;
}

.price {
	display: inline;
	float: left;
	margin: 0;
	padding-top: 3rem;
	padding-left: 2rem;
	width: 15%;
}

.dish-info::after {
	content: "";
	clear: both;
	display: block;
}

/*events page styling*/

#news-title-section {
	background-image: url('../img/rest2.jpg');
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 25rem;
	display: flex;
    align-items: center; 

/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}


.news-detail h2 {
	font-size: 1.2em;
	padding: 0rem 1rem 2rem 1rem;

}

.news-detail p {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: left;
}

.news-listing {
	background-color: #ccc;
	height: 19rem;
	overflow: hidden;
}

.news-listing img {
    width: auto;
    height: 100%;
}

.news-listing::after {
	content: "";
	clear: both;
}

.news-block {
	background-color: #ffffff;
	width: 100%;
	height: 47rem;
	text-align: center;
	position: relative;

}

.news-section {
	margin-bottom: 5rem;
	background-color: rgb(245, 245, 245);
}

/*contact section*/
#contact-title-section {
	background-image: url('../img/rest1.jpg');
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 25rem;
	display: flex;
    align-items: center; 

/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}
.map-section iframe {
	width: 100%;
	height: 20rem;
	border: none;
	pointer-events: none;
	display: flex;
	justify-content: center;
    align-items: center;
    overflow: hidden;

}

.contact_block {
	text-align: left;
	margin:0rem 4rem 0rem 4rem;
	
	
}

.contact_block .button1 {

	display: block;
	text-align: center;
	margin-bottom: 2rem;
	width: 60%;

	
}

/* cart section styling*/

#cart-section {
	width: 100%;
	height: 20rem;
	display: flex;
    align-items: center; 
/*    citation: http://sixrevisions.com/css/responsive-background-image/;*/
}

#cart-section h1 {
	color: #000;
}

.cart-title h2 {
	padding: 0;
	margin: 0;
}

#cart_icon {
	width: 30%;
	margin-top: 0.25rem;
}
#cart_icon:hover {
    content: url('../img/icons/cart-h.png');
/*    height: 70px;
    width: 120px;*/
}

