

/*interaction section*/



#IE, #TE, #CE, #DE section {
  border: none;
}


.text_elements h1,h2 {
  text-transform: uppercase;
  text-align: left;
}



 #IE h2 {
  text-transform: uppercase;
  text-align: left;
}



section {
  padding: 3rem 0rem;
  border-bottom: 0.08em solid #333;
  display: inline-block;
  width: 100%;
}

.nav-but {
  background-color: #262626;
  width: 100%;
  padding: 0.5rem 3rem;
}

.code_section {
  background-color: #eee;
  padding: 2rem;
}

.intext-link .sub-nav {
  text-align: left;
  padding-top: 0;
}

.input_section input,textarea {
  width: 50%;
  
}

.input_section textarea {
   height: 12rem;
}

.input_section .food_quan {
  width: 12%;
}


.nav-section .navBar {
  position: relative;
  }


.color-box {
    display: inline-block;
    margin: 0em;
    padding: 50px 0;
    text-align: center;
    width: 210px;
    height: 200px;
    background-color: #262626;
}
