

/*interaction section*/



#IE, #TE, #CE, #DE section {
  border: none;
}


.text_elements h1,h2 {
  text-transform: uppercase;
  text-align: left;
}



 #IE h2 {
  text-transform: uppercase;
  text-align: left;
}

.need-white-space {
  padding: 3rem 6rem 0 6rem;
}

section {
  padding: 3rem 0rem;
  border-bottom: 0.08em solid #333;
  display: inline-block;
  width: 100%;
}

.nav-but {
  background-color: #262626;
  width: 100%;
  padding: 0.5rem 3rem;
}

.code_section {
  background-color: #eee;
  padding: 2rem;
}

.intext-link .sub-nav {
  text-align: left;
  padding-top: 0;
}

.input_section input,textarea {
  width: 50%;
  
}

.input_section textarea {
   height: 12rem;
}

.input_section .food_quan {
  width: 12%;
}


.nav-section .navBar {
  position: relative;
  }


[class^='color-box'] {
    display: inline-block;
    text-align: center;
    width: 12rem;
    height: 12rem;
    color: white;
}

.color-text {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


[class^='color-box'] h2 {
  font-size: 1.1em;
  text-align: center;
  margin:0;
  padding: 0;
}

[class^='color-box'] p {
  text-align: center;
  margin:0;
  padding-top: 1rem;
}

.color-box-blk {
  background-color: #000000;
  color: white;
}

.color-box-dgr {
  background-color: #262626;
  color: white;
}

.color-box-ylw {
  background-color: #d5b57b;
  color: white;
}

.color-box-lgy {
  background-color: #eeeeee;
  color: #262626;
}

.color-box-bgy {
  background-color: #f5f5f5;
  color: #262626;
}

.color-box-wht {
  background-color: #ffffff;
  color: #262626;
  border: 0.1rem solid #eeeeee;
}

.grid-col-1of6 {
  width: 16%;
}


@media screen and (max-width: 78rem) {


  .grid-col-1of6 {
   width: 32%;
  }





}


@media screen and (max-width: 65rem) {


  .grid-col-1of6 {
   width: 49%;
  }

  .input_section .food_quan {
    width: 28%;
  }






}


@media screen and (max-width: 35rem) {


  .grid-col-1of6 {
   width: 100%;
  }

  .need-white-space {
    padding: 3rem 1.5rem 1.5rem;
  }

  .input_section input,textarea {
  width: 100%;
  
  }

  



}



